<!doctype html>
<html>
<head>
    <title>{{ site.title }}
    {% if site.title != page.title %}
    - {{ page.title }}
    {% endif %}
    </title>
    <link
    	href='http://fonts.googleapis.com/css?family=Libre+Baskerville'
    	rel='stylesheet'
    	type='text/css'>
    <link
    	href='http://fonts.googleapis.com/css?family=Galdeano'
    	rel='stylesheet'
    	type='text/css'>
    <link
    	href="/rss.xml"
    	rel="alternate"
    	type="application/rss+xml">
    <style>
    @import url('/css/style.css');
    </style>
</head>
<body>
    <header>
        <h1><a href="/">{{ site.title }}</a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about.html">About</a>
            <a href="/blog.html">Blog</a>
        </nav>
    </header>

	<div id="content">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
    	&copy;2013
    	<a href="http://glen-campbell.com" title="Me">Glen Campbell</a>
    </footer>

</body>
</html>
