<!doctype html>
<html lang="en">
<head>
    <title>{{ site.title }}
    {% if site.title != page.title %}
    - {{ page.title }}
    {% endif %}
    </title>
    <style>
    @import url('http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic|Source+Code+Pro|Galdeano');
    @import url('/css/bootstrap.min.css');
    @import url('/css/xlerb.css');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/rss.xml" rel="alternate" type="application/rss+xml">
</head>
<body>
<div id="wrap">
	<div class="container">
    <header>
        <h1><a href="/">{{ site.title }}</a></h1>
        <nav>
            <ul class="inline">
            <li><a href="/about.html">About</a></li>
            <li><a href="/articles.html">Articles</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}
    </div>
    <div id="push"></div>
</div>

    <footer>
    <div class="container">
    	&copy;2013
    	<a href="http://glen-campbell.com" title="Me">Glen Campbell</a>
    	&bull;
    	<a href="/tos.html">Terms of Service</a>
    	&bull;
    	<a href="/colophon.html">Colophon</a>
    </div>
    </footer>
</body>
</html>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38736191-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
