<!doctype html>
<html>
<head>
    <title>{{ site.title }}
    {% if site.title != page.title %}
    - {{ page.title }}
    {% endif %}
    </title>
    <link
    	href='http://fonts.googleapis.com/css?family=Libre+Baskerville'
    	rel='stylesheet'
    	type='text/css'>
    <link
    	href='http://fonts.googleapis.com/css?family=Galdeano'
    	rel='stylesheet'
    	type='text/css'>
	<link
		href='http://fonts.googleapis.com/css?family=Source+Code+Pro'
		rel='stylesheet'
		type='text/css'>
	<link
    	href="/rss.xml"
    	rel="alternate"
    	type="application/rss+xml">
    <style>
    @import url('/css/style.css');
    </style>
</head>
<body>
    <header>
        <h1><a href="/">{{ site.title }}</a></h1>
        <nav>
            <ul>
            <li><a href="/about.html">About</a></li>
            <li><a href="/blog.html">Blog</a></li>
            </ul>
        </nav>
    </header>

	<div id="content">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
    	&copy;2013
    	<a href="http://glen-campbell.com" title="Me">Glen Campbell</a>
    	&bull;
    	<a href="/tos.html">Terms of Service</a>
    </footer>

</body>
</html>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38736191-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
